.post__container {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.title__container {
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin: 0 5px 0 0;
  line-height: 20px;
}

.title__label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.body__description {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  margin-top: 10px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.views__container{
  margin-top: 10px;
}

.tags__label{
  opacity: .8;
  margin-bottom: 0;
  margin-top: 10px;
}

.reaction__like{
  margin-right: 5px;
}