.header__container {
    width: auto;
    height: 77px;
    min-height: 77px;
    background: #adc6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
}

.header__label {
    margin: 0;
    padding: 0
}