.post__list_container {
  width: 100%;
  border: 3px solid #adc6ff;
  border-radius: 10px;
  min-height: 20vh;
  background: white;
}

;

.loading_style {
  width: 100%;
  margin: auto;
  text-align: center;
}